@model string
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>Sidan</h1>
    <div id="app">@Html.Raw(Model)</div>
    <script src="/dist/client/main.js"></script>
</body>
</html>
